language: node_js
node_js:
  - 13

services:
  - docker

install:
  - echo "nothing to be installed"

before_script:
  - echo "no tests"

script:
  - docker --version
  - docker build - t udagram-api-feed ./udagram-api-feed
  - docker tag udagram-api-feed buezman/udagram-api-feed:v1.0
  - docker build - t udagram-api-user ./udagram-api-user
  - docker tag udagram-api-feed buezman/udagram-api-user:v1.0
  - docker build - t udagram-frontend ./udagram-frontend
  - docker tag udagram-frontend buezman/udagram-api-frontend:v1.0
  - docker build - t reverseproxy ./udagram-reverseproxy
  - docker tag reverseproxy buezman/reverseproxy:v1.0

after_success:
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
  - docker push bueze/udagram-api-feed
  - docker push bueze/udagram-api-user
  - docker push bueze/udagram-frontend
  - docker push bueze/reverseproxy